@model List<ResultServiceDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Servis Başlığı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ServiceID</th>
            <td>@item.Title</td>
            <td><a href="/Service/deleteService/@item.ServiceID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Service/AddService">Servis Ekle</a>
