@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>Personel Ünvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.StaffID</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="/staff/deleteStaff/@item.StaffID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Staff/UpdateStaff/@item.StaffID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Staff/DeleteStaff/@item.StaffID" class="btn btn-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/staff/addstaff">Personel Ekle</a>
